@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
:root {
  // --dark-color: #121212;
  --dark-color: #2b2b2b;
  --light-color: white;
  --primary-color: #5abdb2;
  --secondary-dark-color: #222;
  --secondary-light-color: #f5f5f5;
  // --dark-color: #121212;
  // --light-color: white;
  // --primary-color: #5abdb2;
}
.text-color {
  color: var(--light-color);
}
.text-justify {
  text-align: justify;
}
html[theme="dark-mode"] img {
  filter: invert(1) hue-rotate(180deg);
}
html {
  transition: color 300ms, background-color 300ms;
}
body {
  font-family: "Josefin Sans", sans-serif;
  background-color: var(--dark-color);
  // background-color: var(--light-color); Dark Mode
}
.card-body:has(i, h5) {
  color: var(--secondary-dark-color);
}
.card-transition {
  &:hover {
    transform: scale(1.05);
    transition: all ease-in-out 0.3s;
  }
}
.color-link-active {
  color: var(--primary-color);
}
.color-link {
  color: var(--light-color);
  // color: var(--dark-color); light mode
  &:hover {
    color: var(--primary-color);
  }
}
.button-link {
  color: var(--light-color) !important;
  border: 1px solid var(--light-color);
  // color: var(--dark-color) !important; light mode
  // border: 1px solid var(--darl-color); light mode
  border-radius: 25px;
  padding-block: 0.5rem;
  padding-inline: 3rem;
  letter-spacing: 1px;
  text-decoration: none;
  &:hover {
    color: var(--light-color) !important;
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    padding-inline: 2.9rem !important;
    letter-spacing: 2px;
    transition: all ease-in-out 0.2s;
  }
}
.sidebar-left {
  position: fixed;
  height: 100%;
  width: 4em;
  border-right: 1px dotted var(--light-color);
  // border-right: 1px dotted var(--dark-color); light mode
  display: grid;
  align-content: space-between;
  background-color: var(--dark-color);
  // background-color: var(--light-color); light mode
  z-index: 999;
}
.sidebar-right {
  position: fixed;
  right: 0;
  height: 100%;
  border-left: 1px dotted var(--light-color);
  // border-left: 1px dotted var(--dark-color); light mode
  width: 4em;
  display: grid;
  align-content: space-between;
  background-color: var(--dark-color);
  // background-color: var(--light-color); light mode
  z-index: 999;
}

.wrapper {
  .container {
    height: 100vh;
  }
  .index-container {
    .btn-good {
      text-decoration: none;
      border: 1px solid var(--light-color);
      // border: 1px solid var(--dark-color); light mode
      border-radius: 20px;
      padding: 10px;
    }
  }
  .about-section {
    background: var(--dark-color);
    // background: var(--light-color); light mode
    .about {
      overflow: hidden;
      padding-inline: 3em;
    }
  }
  .services-section {
    background: var(--secondary-dark-color) !important;
    // background: var(--secondary-light-color) !important; light mode
  }
  .technology-section {
    .card {
      display: grid;
      justify-content: center;
      align-items: center;
    }
  }
  .contact-section {
    .container {
      display: grid;
      justify-content: center;
      align-content: center;
    }
    .submit-btn {
      text-decoration: none;
      color: var(--light-text-color);
      // color: var(--dark-color); light mode
    }
  }
}
@media screen and (max-width: 766px) {
  .about-section {
    height: 120vh !important;
  }
  .services-section {
    height: 130vh !important;
    .card-md-size {
      width: 25rem !important;
    }
  }
}
